<div class="container">
  <div class="row">
    <h4 class="mb-5 mt-5"><span class="bg-secondary">ジャンル編集</span></h4>
  </div>
  <%= form_with model: @genre, url: admin_genre_path, method: :patch do |f| %>
  <div class="row">
    <div class="col-2">
      <%= f.label :ジャンル名%>
    </div>
    <div class="col-3">
      <%= f.text_field :name %>
    </div>
    <div class="col-3">
      <%= f.submit '変更を保存' ,class:"btn btn-success"%>
    </div>
  </div>
  <% end %>
</div>



